@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #111827; /* dark gray */
  color: #fff;
  margin: 0;
  padding: 0;
  
  /* cursor: url("/public/icons/code-cursor.png"), auto; */



}
